@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

html,
body {
	font-family: var(--prifont), sans-serif;
	font-weight: normal;
	font-size: 1rem;
	color: var(--txtcol);
	background-color: var(--bgcol);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	width: 100vw;
}

a {
	text-decoration: none;
	color: inherit;
}

*::-webkit-scrollbar,
html::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
	background: var(--pricol);
	border-radius: 0;
}

*::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
	background: var(--seccol);
	border-radius: 0;
}
*::-webkit-scrollbar-thumb:active,
html::-webkit-scrollbar-thumb:active {
	background: var(--seccol);
	border-radius: 0;
}
*::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
	background: var(--seccol);
	border-radius: 0;
}

.hover-fade {
	@apply cursor-pointer hover:opacity-80 transition-all duration-300 ease-in-out;
}

.no-scroll {
	scrollbar-width: none;
}

.text-balance {
	text-wrap: balance;
}

.def-pdg {
	@apply px-4
  md:px-8
  lg:px-16
  xl:px-24;
}

.na-pdg {
	@apply mx-[-1rem]
	md:mx-[-2rem]
	lg:mx-[-4rem]
	xl:mx-[-6rem];
}
